.welcome {
    width: 20%;
    height: auto;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 1);
    border-radius: 2px;
    z-index: 99;
}

.tools {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 3px;
    border-radius: 7px;
    color: white;
}
